# Load Dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../Datasets/Customer/customer.csv")
df.sample(5)

    age  gender   review education purchased
31   22  Female     Poor    School       Yes
13   57  Female  Average    School        No
33   89  Female     Good        PG       Yes
25   57  Female     Good    School        No
40   39    Male     Good    School        No

In [3]:
df = df.iloc[:, 2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

# Ordinal Encoding

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, 0:2], df.iloc[:, -1], test_size = 0.2)

In [5]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories = [["Poor", "Average", "Good"], ["School", "UG", "PG"]])

oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [6]:
X_train = oe.transform(X_train)
X_test  = oe.transform(X_test)
X_train

array([[0., 2.],
       [2., 1.],
       [2., 0.],
       [1., 1.],
       [0., 1.],
       [1., 0.],
       [1., 1.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [2., 1.],
       [1., 0.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [2., 1.],
       [2., 0.],
       [2., 1.],
       [1., 2.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [0., 0.],
       [2., 1.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [0., 2.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [2., 0.],
       [0., 1.],
       [2., 2.],
       [0., 2.]])

In [7]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

# Label Encoding

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(y_train)

LabelEncoder()

In [10]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [12]:
y_train = le.transform(y_train)
y_test  = le.transform(y_test)

In [13]:
y_train

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0])